<h3>Your special word was: "<%= @check_word %>".</h3>
<h3>Your story was: "<%= @string_to_check %>"<h3>
<% if @answer == 1 %>
<h3>In your story, "<%= @check_word %>" shows up <%= @answer %> time!</h3><br>
<% else %>
<h3>In your story, "<%= @check_word %>" shows up <%= @answer %> times!</h3><br>
<% end %>
<a href="/" class="btn btn-primary btn-lg btn-block" role="button">Play Again</a>
